@import url('https://fonts.googleapis.com/css2?family=Sarala&family=IBM+Plex+Sans&family=Lora&display=swap');

:root {
  --main-bg-color: #202020;
  --main-text-color: #f4f4f4;
  --main-text-emphasis-color: #f7ca4f;
  --navbar-bg-color: #333;
  --link-color: #4fc3f7;
  --link-hover-color: #29b6f6;
  --btn-primary-bg-color: #0593ac;
  --btn-primary-text-color: #fff;
  --btn-primary-hover-bg-color: #13aac5;
  --btn-primary-active-bg-color: #076d80;
  --btn-secondary-bg-color: #999999;
  --btn-secondary-text-color: #000;
  --btn-secondary-hover-bg-color: #b8b8b8;
  --btn-secondary-active-bg-color: #868686;
  --jumbotron-even-bg-color: #1b1b1b;
  --jumbotron-odd-bg-color: #303030;
}

body,
html {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sarala', sans-serif;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

#navbar {
  background-color: var(--navbar-bg-color);
  color: var(--main-text-color);
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo img {
  height: 80px;
  width: auto;
}

#navbar a,
footer a {
  color: var(--link-color);
  text-decoration: none;
}

#navbar a {
  padding: 10px;
}

#navbar a.navbar-logo {
  padding: 0;
}

.jumbotron {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: var(--main-text-color);
  font-size: 1.5rem;
}

#welcome {
  min-height: calc(100vh - 84px);
}

.jumbotron .container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.jumbotron .container > * {
  max-width: 600px;
}

.text-on-right .container {
  flex-direction: row-reverse;
}

.text-content,
.image-content {
  flex: 1 1 50%;
  width: 50%;
  padding: 0 2rem;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

word-graph {
  width: 500px;
  height: 500px;
}

#welcome .container {
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#welcome .text-content {
  position: relative;
  z-index: 2;
  background: linear-gradient(
    to right,
    var(--jumbotron-even-bg-color) 0%,
    var(--jumbotron-even-bg-color) 80%,
    transparent 100%
  );
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#welcome .image-content {
  position: absolute;
  top: 84px;
  right: 0;
  bottom: 0;
  left: 40%;
  max-width: 100%;
  z-index: 1;
  overflow-y: hidden;
}

word-graph {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1199px) {
  .jumbotron:not(#welcome) .container {
    flex-direction: column;
  }

  .jumbotron:not(#welcome) .container .text-content,
  .jumbotron:not(#welcome) .container .image-content {
    width: 100%;
    padding: 0;
  }

  .jumbotron:not(#welcome) .container > * {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3rem;
  }

  .jumbotron {
    font-size: 1.5rem;
  }
}

.jumbotron:nth-child(even) {
  background-color: var(--jumbotron-even-bg-color);
}

.jumbotron:nth-child(odd) {
  background-color: var(--jumbotron-odd-bg-color);
}

footer {
  background-color: var(--navbar-bg-color);
  color: var(--main-text-color);
  padding: 20px 0;
  text-align: center;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

a.btn {
  margin: 0 10px;
  padding: 8px 15px;
  color: var(--btn-secondary-text-color);
  text-decoration: none;
  background-color: var(--btn-secondary-bg-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: background-color 0.1s, border-color 0.1s;
  white-space: nowrap;
}

a.btn:hover {
  text-decoration: none;
  background-color: var(--btn-secondary-hover-bg-color);
}

a.btn:active {
  background-color: var(--btn-secondary-active-bg-color);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}

a.btn.btn-primary {
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-bg-color);
}

a.btn.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg-color);
}

a.btn.btn-primary:active {
  background-color: var(--btn-primary-active-bg-color);
}

strong {
  font-weight: bold;
  color: var(--main-text-emphasis-color);
}

@media (max-width: 1199px) {
  #welcome .text-content {
    max-width: 50%;
  }

  a.btn {
    font-size: 1rem;
    margin: 0 5px;
  }
}

@media (max-width: 768px) {
  #welcome .text-content {
    background: none;
  }

  word-graph {
    position: static;
    width: 100%;
    height: 300px;
    margin: 2rem;
  }

  /* for first jumbotron, reset advanced styling with overlapping image and
  instead use simple stacking */
  #welcome .container {
    flex-direction: column;
    height: auto;
    max-width: 100%;
    width: 100%;
  }

  #welcome .text-content {
    height: auto;
    padding: 2rem;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  #welcome .image-content {
    position: static;
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: hidden;
  }

  #welcome .image-content img {
    width: 100%;
    height: auto;
  }
}
